@import "tailwindcss";

:root {
  /* Colores base */
  --background: #ffffff;
  --foreground: #171717;

  /* Escala de rojos Epix */
  --epix-red-100: #fef2f2;
  --epix-red-200: #fee2e2;
  --epix-red-300: #fca5a5;
  --epix-red-400: #E1251B;
  --epix-red-500: #8D1E13;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Definición de colores Epix para Tailwind */
  --color-epix-100: var(--epix-red-100);
  --color-epix-200: var(--epix-red-200);
  --color-epix-300: var(--epix-red-300);
  --color-epix-400: var(--epix-red-400);
  --color-epix-500: var(--epix-red-500);
}